<style>
@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
</style>

* {
	box-sizing: border-box;
    font-family: 'Rambla', sans-serif;
    margin: 0;
    padding: 0;
}
a:link {
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #403A33;
    font-family: 'Rambla', sans-serif;
}
.logo{
    color: #F5E8DD;
    letter-spacing: 1px;
    font-size: 24px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 25%;
}
.nav-links a{
    color: #F5E8DD;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
}
.nav-links li{
    list-style: none;
}

h1 {
    margin-left: 160px;
    margin-top: 37px;
    color: #F5E8DD;
    font-size: 40px;
    font-family: 'Rambla', sans-serif;
    font-weight: 700;
}

h2 {
    color: #403A33;
    font-size: 40px;
    font-family: 'Rambla', sans-serif;
    font-weight: 700;
    margin: 0px;
}
h3{
    font-family: 'Rambla', sans-serif;
    font-size: 18px;
    font-weight: medium;
    color: #F5E8DD
}
h4{
    font-size: 22px;
    font-family: 'Rambla', sans-serif;
}

p {
    color: #403A33;
    font-size: 18px;
    font-family: 'Rambla', sans-serif;
    font-weight: 300
}

body { 
    margin:-10;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}

.main {
    background-color: #789737;
}

.landing {
    display: flex;
    width: 100vw;
    background-color: #789737;
    position: relative;
    padding-bottom: 290px;
}

.landing p{
    color: #F5E8DD;
}
.landing h2{
    color: #F5E8DD;
}

svg 
{
    width: 600px;
    position: absolute;
    right: 0;
    top: 20%;
}
svg .catline{
    stroke: #F5E8DD;
    stroke-width: 8px;
    fill: none;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: animate 5s linear infinite;
    stroke-linecap: round;
}
svg .about{
    width: 895px;
}

@keyframes animate{
    to{
        stroke-dashoffset: 0;
    }
}


.introtext {
    height: 189px;
    margin-top: 228px;
}

.content{
    width: 360px;
    margin-top: 275px;
    margin-left: 255px;

}

.two-col{
    display: flex;
    width: 70%;
    margin: auto;
}

.two-col img{
    width: 100%;
    height: auto;
    margin-right: 60px;
}
.two-col div{
    flex:  1;
    margin-top: 115px;
    margin-bottom: 115px;
    margin: 
}

.catniplanding{
    display: flex;
}
.contenthomegrow{
    width: 454px;
    text-align: center;
    margin-left: 60px;
}

.catreviews{
    height: 382px;
}
.catreviewsrect{
    height: 357px;
    width: 100vw;
    background-color: #789737;
}
.catimages{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.catimages h2 {
    margin-top: 50px;
}
.cat1{
    width: 266px;
    margin-top: -208px;
}
.cat2{
    width: 266px;
    margin-top: -208px;
}
.cat3{
    width: 266px;
    margin-top: -208px;
}

.productpage{
    margin: 300px;
    margin-top: 130px;
    margin-bottom: 130px;
}
.producttext{
    max-width: 360px;
    margin-right: 40px;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background-color: #403A33;
    font-family: 'Rambla', sans-serif;
}
.footercontent{
    display: flex;
    justify-content: space-between;
}
.footercontent p{
    color: #F5E8DD;
}
.productsbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: medium;
    margin: auto;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    background: #CF974A;
    margin-bottom: 50px;
}
.productsbutton:hover{
    opacity: 80%;
}

.productsintro{
    width:100vw;
    height:420px;
    background-color:#789737;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.productsintro h2{
    text-align: center;
    font-size:38px;
    color: #F5E8DD;

}
.productsintro p{
    width: 550px;
    margin: auto;
    text-align: center;
    color: #F5E8DD;
}
hr{
    width: 1120px;
    margin-top: 130px;
    color: #403A33;
}
.popular{
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
}



.card h4{
    font-size: 22px;
    margin: auto;
    padding-left: 12px;
}
.card p{
    padding-left: 12px;
}


.card {
    max-width: 200px;
    margin: auto;
    text-align: left;
    font-family: 'Rambla', sans-serif;
    color: #403A33;
}


.price {
    color:#403A33;
    font-size: 22px;
    margin: 8px;
}

.card button {
    border: none;
    outline: 2px solid #403A33;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    color: #403A33;
    background: white;
}



.card button:hover {
    background-color: #403A33;
    color: #F5E8DD;
}


.about{
    margin-bottom: 260px;
    width: 100vw;
    position: relative;
}


.aboutline{
    width: 900px;
    margin: auto;
    position:: absolute;
    margin-top: 260px;
}

.circle1{
    width: 54px;
    height:54px;
    border-radius: 50%;
    background-color:#CF974A;
    position: absolute;
    top: -10;
    left: 363px;
}
.circlecontent1{
    max-width: 340px;
    position: absolute;
    left: 450px;
    top: 0;
}

.circle2{
    width: 54px;
    height:54px;
    border-radius: 50%;
    background-color:#CF974A;
    position: absolute;
    top: 562px;
    right: 367px;
}
.circlecontent2{
    max-width: 340px;
    position: absolute;
    right: 450px;
    top: 494px;
    text-align: right;
}

.circle3{
    width: 54px;
    height:54px;
    border-radius: 50%;
    background-color:#CF974A;
    position: absolute;
    top: 1018;
    left: 363px;
}
.circlecontent3{
    max-width: 334px;
    position: absolute;
    left: 450px;
    top: 971px;
}

.circle4{
    width: 54px;
    height:54px;
    border-radius: 50%;
    background-color:#CF974A;
    position: absolute;
    top: 1442px;
    right: 367px;
}
.circlecontent4{
    max-width: 340px;
    position: absolute;
    right: 450px;
    top: 1340px;
    text-align: right;
}

.circle5{
    width: 54px;
    height:54px;
    border-radius: 50%;
    background-color:#CF974A;
    position: absolute;
    top: 1916;
    left: 363px;
}
.circlecontent5{
    max-width: 390px;
    position: absolute;
    left: 450px;
    top: 1822px;
}

.circle6{
    width: 54px;
    height:54px;
    border-radius: 50%;
    background-color:#CF974A;
    position: absolute;
    bottom: 0;
    right: 367px;
}
.circlecontent6{
    max-width: 340px;
    position: absolute;
    right: 450px;
    bottom: 0;
    text-align: right;
}